.post {
    background: var(--cardsgray);
    border-radius: 8px;
    padding: 2.5rem;

}
.post + .post { /*todo post que tenha antes um outro post*/
    margin-top: 2rem;
}

.content {
    line-height: 1.6;
    color: var(--supporttext);
    margin-top: 1.5rem;
}

.content p {
    margin-top: 1rem;
}

.content a {
    font-weight: lighter;
    color: var(--green);
    text-decoration: none;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post > header time {
    font-size: 0.875rem;
    color: var(--supporttext)
}

.author {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.authorInfo {
    display: flex;
    flex-direction: column; /*força os elementos a quebrarem a linha*/
    color: var(--texttitles);
    line-height: 1.6;
}

.author img {
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 8px;
    border: 2px solid var(--dividergray);
    outline: 2px solid var(--green);
}