.post {
    background: var(--cardsgray);
    border-radius: 8px;
    padding: 2.5rem;
    display: block;

}
.post + .post { /*todo post que tenha antes um outro post*/
    margin-top: 2rem;
}

.content {
    line-height: 1.6;
    color: var(--supporttext);
    margin-top: 1.5rem;
}

.content p {
    margin-top: 1rem;
}

.content a {
    font-weight: lighter;
    color: var(--green);
    text-decoration: none;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post > header time {
    font-size: 0.875rem;
    color: var(--supporttext)
}

.author {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.authorInfo {
    display: flex;
    flex-direction: column; /*força os elementos a quebrarem a linha*/
    color: var(--texttitles);
    line-height: 1.6;
}

.authorInfo strong {
    display: block;
    color: var(--text);
    line-height: 1.6;
}

.authorInfo span {
    display: block;
    font-size: 0.875rem;
    color: var(--supporttext);
    line-height: 1.6;
}

.author img {
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 8px;
    border: 2px solid var(--dividergray);
    outline: 2px solid var(--green);
}

.commentForm {
    width: 100%;
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    border-top: 1px solid var(--dividergray);
}

.commentForm > strong {
    line-height: 1.6;
}

.commentForm textarea {
    width: 100%;
    background: var(--dividergray);
    border: 0;
    resize: none;
    height: 6rem;
    padding: 1rem;
    border-radius: 8px;
    color: var(--text);
    line-height: 1.4;
    margin-top: 1rem;
}

.commentForm footer {
    visibility: hidden;
    max-height: 0;
}

.commentForm:focus-within footer { 
    visibility: visible;
    max-height: none;
}

.commentForm button[type=submit] {
    padding: 1rem 1.5rem;
    margin-top: 1rem;
    border-radius: 8px;
    border: 0;
    background: var(--green);
    color: var(--texttitles);
    cursor: pointer;
    transition: background-color 0.2s;

}

.commentForm button[type=submit]:hover {
    background: var(--greenlight);
}